#
# Copyright 2014, Broadcom Corporation
# All Rights Reserved.
#
# This is UNPUBLISHED PROPRIETARY SOURCE CODE of Broadcom Corporation;
# the contents of this file may not be disclosed to third parties, copied
# or duplicated in any form, in whole or in part, without the prior
# written permission of Broadcom Corporation.
#
# default ports
telnet_port 4444
#gdb_port pipe
gdb_port 3333
#tcl_port 6666
sleep 20
#swj_mode 2
gdb_memory_map enable
sleep 20
init
#adapter_khz 1000
sleep 20
reset halt
#halt

#setup STM32 pll
#mww 0x40022000 0x32
#mww 0x40021004 0x3c0400
#mww 0x40021000 0x01000883
#sleep 10
#mww 0x40021004 0x3c0402
sleep 10
adapter_khz 1000

#clear RAM so that the rtos awareness does not detect threads left in memory from previous run
mww 0x1FFF0000 0x00000000 0x1000

#adapter_khz 1000
#verify_ircapture disable
